* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  Arial, sans-serif;
}
body {
  background: #161a2b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}
/*body {*/
/*  */
/*  width: 520px;*/
/*  min-height: 600px;*/
/*  background: #161a2b;*/
/*  text-align: center;*/
/*  margin: 128px auto;*/
/*  border-radius: 10px;*/
/*  padding-bottom: 32px;*/
/*}*/